body {
    color: white;
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thumbnail {
    width: 150px;
    height: 150px;
    margin-left: 15px;
}

#btn {
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    border-color: white;
    cursor: pointer;
}

#btn:hover {
    background-color: white;
    color: black;
    border-color: black;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: cornflowerblue;
}